p {
	color: red;
}

h1 {
	color: #411085;
}
p a {
	border: red 2px dashed;
}
a {

	border: green 2px solid;
}
#id{

}

.red{
	colour: red;
}

.yellow{
	font-family: arial;
	color: yellow;
	border: none;
	padding-left:100px;
	text-decoration: none;
}
